.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #F2E6DF;
  min-height: 100vh;
}

.divCards {
  display: flex;
  background-color: red;
  align-items: center;
  height: 50vh;
}