.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #2F4673;
  min-height: 100vh;
  color: #BACDD9;
}

.divInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  height: 100%;
}

.divTemplate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -5%;
  margin-right: 5%;
}

.divTemplate h5 {
  margin: 2px;
}

.divTemplate h1 {
  margin: 4px;
  font-size: 40px;
}

.divImg {
  height: 30%;
  width: 30%;
}

.divImg img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: solid 2px;
  margin: 2rem;
}

.divTechnologies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


@media only screen and (min-width:320px) and (max-width:480px) {
  .divInformation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .divTemplate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .divTemplate h5 {
    margin: 2px;
    font-size: 10px;
  }

  .divTemplate h1 {
    margin: 4px;
    font-size: 20px;
  }

  .divImg {
    display: flex;
    justify-content: center;
  }

  .divTechnologies {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}