.mainContanier {
  border: solid 2px #BACDD9;
  height: 100%;
  width: 100%;
  padding: 5px;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
  font-family: Helvetica;
  border-radius: 10px;
  color: #BACDD9;
  box-shadow: 1px 1px 1px 1px #F2E6DF, 1px 1px 1px 1px #F2E6DF;
}

.divImg {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.mainContanier img {
  max-width: 100%;
  height: 100%;
}

.divInfo {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.divHeaderInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divHeaderInfo button {
  height: 40px;
  width: 80px;
  position: absolute;
  right: 12%;
}

.divContainerTechs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.divContainerTechs div {
  margin: 2px;
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .mainContanier {
    border: solid 2px #BACDD9;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-family: Helvetica;
    border-radius: 10px;
  }

  .mainContanier img {
    width: 30%;
    height: 100%;
    margin-left: 10px;
  }
}