.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F4673;
  min-height: 100vh;
  width: 100%;
  color: #BACDD9;
}

.mainContainer h1 {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -5px;
}

.divCards {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  height: 100%;
  min-width: 90vh;
  width: 100%;
  max-width: 100%;
  padding-bottom: 3rem;
}

.individualDiv {
  height: 450px;
  width: 1000px;
  margin: 1rem;
  cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:480px) {
  .divCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2E6DF;
    min-height: 100vh;
  }

  .individualDiv {
    height: 15%;
    width: 80%;
    margin: 1rem;
  }
}