.mainContainer {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #2F4673;
}

.secondContainer {
  min-height: 80vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjet {
  width: 50%;
  height: 50%;
  background-color: #F2E6DF;
  border-radius: 5px;
  border: solid 3px #728EA6;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  color: #2F4673;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.items p {
  margin-left: 7px;
  font-weight: bold;
}