.MainContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

.divImagenYBoton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url('/src/assets/imagenes/bullseye-gradient.svg');
  background-size: cover;
}

.divImagenYBoton h1 {
  color: #2F4673;
  font-family: Helvetica;
}

.LinkToHome {
  background-color: #2F4673;
  color: #F2E6DF;
  height: 5%;
  text-decoration: none;
  font-weight: bold;
  width: 5%;
  text-align: center;
  border-radius: 5px;
  border: #F2E6DF solid 2px;
  padding-top: 5px;
  transition: 0.5s;
  transform-origin: left;
}

.LinkToHome:hover {
  background-color: #F2E6DF;
  color: #2F4673;
  transition: 0.5s;
}

.LinkToHome:active {
  transform: scale(0.9);
}

.imgPerfil {
  width: 230px;
  height: 230px;
  border-radius: 5rem;
  border: #2F4673 solid 1px;
  transition: 0.5s;
}

.imgPerfil:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
}