.mainContainer {
  min-height: 12vh;
  background-image: url('/src/assets/imagenes/spectrum-gradient.svg');
  background-size: cover;
  border-bottom: solid 2px #BACDD9;
  position: static;
  width: 100%;
  display: flex;
  align-items: center;
}

.imgPerfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15%;
  color: #BACDD9;
  font-family: Helvetica;
  transition: 0.5s ease-in;
  cursor: pointer;
}


.imgPerfil:hover {
  transform: scale(1.2);
  transition: 1s;
  color: #F2E6DF;
}

.imgPerfil img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.divLinks {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 0%;
  width: 80%;
}

.divLinks p {
  font-size: 20px;
  font-family: Helvetica;
  margin: 10px;
  margin-left: 20px;
  color: #F2E6DF;
  font-weight: bold;
}

.NavigationLinks {
  text-decoration: none
}

.NavigationLinks:hover {
  border: 1px solid #F2E6DF;
  border-radius: 5px;
}

.NavigationLinks:active {
  transform: scale(0.9);
}